<div class = "bg d-flex flex-column justify-content-center">
  <span class=" pt-5 ps-5 fs-3 dark-gray-color">Hello {{UserName}} <span >&#127995;  &#128075; </span></span>
  <div class="p-5 d-flex flex-column gap-5 ">
    <span class="lav-color fs-3">Add Hall</span>
    <div class="d-flex flex-row  w-100 h-auto">
      <section class="card bg-white h-auto p-3 gap-3 d-flex flex-column">
        <div class="d-flex flex-row justify-content-between h-auto w-100">
          <span class="fs-6 dark-gray-color"> Halls</span>
          <span class="fs-3 dark-gray-color">&#10020;</span>
        </div>
        <div class="fs-1 lav-color text-center h-auto w-100">
          {{halls_count}}
        </div>
      </section>
    </div>
  </div>
</div>
