<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
     <!---------------------- start footer section --------------------------------->
     <h2 class="fw-bolder py-4">FOOTER</h2>
     <div class="container-fluid p-3  " id="container">
        <section class="container mt-4 ms-5 me-5 row d-flex justify-content-center align-items-start flex-wrap gap-4 border-bottom border-dark mb-3 pb-4 ">
            <!---------------------- start 1 section in footer--------------------------------->
            <div class="col-lg-3 col-md-5 col-sm-12 ">
                <img src="../../../assets/img/Logoo.png" alt="Logo Photo" class="img-fluid">
                <p class="fs-5">
                    Weddings are a day to celebrate the beauty of your love and life together and it would be an honor to be a part of making your wedding               
                </p>
                <div class="col-12 mt-4">
                    <a href="" class="text-decoration-none">
                        <span class="badge text-white">
                            <i class="fa-brands fa-facebook-f text-dark display-6"></i> 
                        </span>
                    </a>

                    <a href="" class="text-decoration-none">
                        <span class="badge  text-white ">
                            <i class="fa-brands fa-instagram text-dark display-6"></i>  
                        </span>
                    </a>

                    <a href="" class="text-decoration-none">
                        <span class="badge text-white ">
                            <i class="fa-brands fa-tiktok text-dark display-6"></i> 
                        </span>
                    </a>

                    <a href="" class="text-decoration-none">
                        <span class="badge text-white ">
                            <i class="fa-brands fa-youtube text-dark display-6"></i>  
                        </span>
                    </a>

                    <a href="" class="text-decoration-none">
                        <span class="badge  text-white">
                            <i class="fa-brands fa-x-twitter text-dark display-6"></i> 
                        </span>
                    </a>
                </div>
            </div>
            <!---------------------- end 1 section in footer--------------------------------->
        
            <!---------------------- start 2 section in footer--------------------------------->
            <div class="col-lg-2 col-md-5 col-sm-12 d-flex justify-content-center flex-wrap gap-4 mt-3"  >
                <h6 class="col-12 text-uppercase fw-bolder text-dark">Menu</h6>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Home</a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">About Us</a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Services</a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Gallery</a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Contact</a>
                </div>
            </div>
            <!---------------------- end 2 section in footer--------------------------------->

            <!---------------------- start 3 section in footer--------------------------------->
            <div class="col-lg-2 col-md-5 col-sm-12 d-flex justify-content-center flex-wrap gap-4 mt-3">
                <h6 class="col-12 text-uppercase fw-bolder text-dark">Our Services</h6>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Web Design </a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Web Development </a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Product Management </a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Marketing </a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Graphic Design </a>
                </div>
            </div>
            <!---------------------- end 3 section in footer--------------------------------->

            <!---------------------- start 4 section in footer--------------------------------->
            <div class="col-lg-4 col-md-5 col-sm-12 d-flex justify-content-center flex-wrap gap-1">
                <img src="../../../assets/img/service-card (1).png" alt="Wedding Photo" class="img-fluid" >
            </div>
            <!---------------------- end 4 section in footer--------------------------------->
        </section>

        <div class="d-flex flex-column text-decoration-none text-center align-items-center">
           <p class="text-uppercase fw-bolder">FROM DAY ONE TO </p>
           <img src="../../../assets/img/Group 1.png" alt="" id="imggg">
        </div>
    </div>
    <!---------------------- end footer section --------------------------------->

    <!---------------------- Start ection end ---------------------------------->
    <div class="container-fluid ask">
        <div class="ps-5 pt-3 pb-3 mt-4 ms-5 me-5 row d-flex justify-content-between align-items-center flex-wrap">
            <p class="col-lg-12 ms-lg-3 col-md-12 text-center">
                 Copyright <span class="fw-bold">&copy;2023</span> All Rights Reserved Designed By <span class="text-primary"> Team Of True Love</span>
            </p>
        </div>
    </div>
    <!---------------------- end section end ----------------------------------->  
  </body>
</html>