<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
        <!-- <div class="row about-section">
          <div class="col-md-12 col-lg-4 d-flex align-items-center">
            <div class="about-content mr-2 shadow-lg p-5 my-5 bg-white rounded" id="bob" >
              <img src="Flower.png" class="img-fluid" alt="">
              <h2>About our wedding planner</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
            </div>
          </div>
          <div class="col-md-12 col-lg-8 d-flex justify-content-end" id="imgg">
            <img src="Group 15112 (1).png" class="img-fluid" alt="About Us Image" id="photo">
          </div>
        </div> -->
        <div class="container">
          
          <div class="textblock"> 
            <div class="cont">
              <img src="../../../assets/img/Flower.png" alt="Small Flower Photo" class="flo">
              <h2 class="title">About Our Wedding Planner</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ullam provident architecto obcaecati delectus, voluptatem illum accusantium id tempora ratione, possimus commodi. A voluptatibus laboriosam fugit repellat harum magni molestiae.</p> 
            </div>
          </div>
          <img src="../../../assets/img/Group 15112 (2).png" alt="Wedding Photos" class="wedd">
        </div>
</body>
</html>